* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width:60.625rem;
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
}

nav {
    width: 100%;
    overflow: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    float: left;
    padding: 1.25rem;
    background-color: #44a6c6;
    width: 50%;
    color: #fff;
    text-decoration: none;
}

nav li a:hover, nav li.active-item a  {
    background-color: #30849f;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    padding: 1.25rem;
}

button {
    cursor: pointer;
}

.btn1 {
    text-transform: uppercase;
    padding: 1.25rem;
}

input[type=text], input[type=submit] {
    padding: 1.25rem;
    text-transform: uppercase;
}

input[type=submit] {
    cursor: pointer;
}

.next, .prev {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.next:after {
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    width: 15px;
    height: 15px;
    content: '';
    position: absolute;
    transform: rotate(45deg);
    margin-top: 3px;
}

.prev:before {
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    width: 15px;
    height: 15px;
    content: '';
    position: absolute;
    transform: rotate(-135deg);
    margin-top: 3px;
    margin-left: -20px;
}

ul{
    list-style: none;
}

.beer-list {
    padding-left: 0;
}