/* CSS */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0 auto;
    background: url('bakgrund_test.jpg') no-repeat center fixed;     
    background-size: cover;
    font-family: 'open sans', sans-serif;
}

.content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu{
    width: 100%;
    height: 20vh;
    background-color: #20232c;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
}

.menu img {
    max-width: 100%;
    max-height: 100px;
    margin-left: 30px;
    position: absolute;
}

.nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
}

.nav li {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    padding-bottom: 20px;
}

.active a{
    color: #029bc8;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.container2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}
.random-beer {
    width: 100%;
    height: 60vh;
    border: 2px solid #029bc8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 7px;
    cursor: pointer;
    background-color: #029bc8;
    border-radius: 40px;
    border-style: solid;
    border-color: #029bc8;
    font-family: 'paytone one';
    font-size: 24px;
    color: #fff;
    padding: 10px;
}

.white-background {
    background-color: #fff;
    width: 95%;
    height: 95%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.beer-name {
    color: #029bc8;
    font-family: 'paytone one';
    margin-bottom: 10px;
}

.beer-img {
    background-color: #badbe5;
    height: 38vh;
}

.beer-img img {
    padding: 10px;
    height: 36vh;
    width: auto;
}

.read-more {
    color: #029bc8;
    font-weight: 900;
}


.beer-info-border {
    margin-top: 5vh;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #029bc8;
    border-radius: 10px;
    width: 85%;
    height: 480px;
    display: flex;
    align-items: center;
}

.beer-info {
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    border-radius: 5px;
    width: 98%;
    height: 460px;
    display: flex;
    justify-content: space-between;
}

.beer-info .beer-img {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beer-info .beer-img img {
    height: 68%;
    width: auto;
}

.left-section {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* search sidan */

h1 {
    font-family: 'Open Sans';
    font-size: 38px;
    margin: 0;
    margin-top: 10px;
}

form {
    font-family: 'Open Sans';
    font-size: 16px;
}

.grid-container {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 50px;
    padding: 0 30px;
    justify-content: center;
}

.grid-item1 {
    width: 250px;
    margin-right: 50px;
}

.grid-item2 {
    max-width: 290px;
}

.left-section-search {
    margin-left: unset;
}

.arrows {
    margin-top: 16px;
}

.beer-list li {
    width: 290px;
    height: 30px;
    background-color: rgb(119, 119, 119);
    border: 1px solid #000;
    border-radius: 3px;
    margin-bottom: 3px;
    display: flex;
    font-family: 'Open Sans';
    align-items: center;
    font-size: 14px;
}

.next, .prev {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.next:after {
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    width: 15px;
    height: 15px;
    content: '';
    position: absolute;
    transform: rotate(45deg);
    margin-top: 3px;
}

.prev:before {
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    width: 15px;
    height: 15px;
    content: '';
    position: absolute;
    transform: rotate(-135deg);
    margin-top: 3px;
    margin-left: -20px;
}

ul {
    list-style: none;
}

.beer-list a {
    color: #000;
}

.beer-list {
    padding-left: 0;
}

.name-desc .beer-name {
    margin: 10px 20px 0px 20px;
    font-size: 2em;
}

.description {
    margin: 5px 20px 0px 20px;
}

.info-list {
    margin-left: 20px;
    margin-right: 20px;
}

.info-list ul {
    list-style-type: none;
    padding-left: 0;
}


@media only screen and (max-width: 800px) {
    
    body {
        width: 100%;
    }
    
    .content {
        width: 100%;
        flex-direction: column;
        margin: 0;
    }

    .menu {
        margin-top: 20px;
        width: 100%;
        height: 20vh;
        justify-content: center;
    }

    .menu img {
        display: none;
    }

    .nav {
        margin-top: 20px;
    }

    .container2 {
        width: 90%;
        margin-top: 30px;
    }

    .random-beer {
        height: 60vh;
    }

}